<aside class="dashboard-sidebar">
    <div class="sidebar-header">
        <h2><a href="{% url 'index' %}">SwimSync EDU</a></h2>
        <p class="user-role">User</p>
    </div>
    <nav class="sidebar-nav">
        <a href="#" class="nav-item active">
            <span class="nav-icon"><i class="fa-solid fa-gauge-high"></i></span>
            Dashboard
        </a>
        <a href="#" class="nav-item">
            <span class="nav-icon"><i class="fa-solid fa-water-ladder"></i></span>
            Browse Classes
        </a>
        <a href="{% url 'my_bookings' %}" class="nav-item">
            <span class="nav-icon"><i class="fa-solid fa-calendar-check"></i></span>
            My Bookings
        </a>
        <a href="{% url 'my_private_classes' %}" class="nav-item">
            <span class="nav-icon"><i class="fa-solid fa-user-lock"></i></span>
            My Private Classes
        </a>
        <a href="#" class="nav-item">
            <span class="nav-icon"><i class="fa-solid fa-star"></i></span>
            My Reviews
        </a>
        <a href="#" class="nav-item">
            <span class="nav-icon"><i class="fa-solid fa-user"></i></span>
            Profile
        </a>
        <a href="{% url 'logout' %}" class="nav-item">
            <span class="nav-icon"><i class="fa-solid fa-right-from-bracket"></i></span>
            Logout
        </a>
    </nav>
</aside>
